@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0e1a;
  color: #e7eefc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
